In [6]:
import pandas as pd
from sklearn import tree

In [7]:
df=pd.read_csv('shoe oreder.csv')

In [8]:
df

   height   width  shoe size  gender
0      181     80         44    male
1      177     70         43  female
2      160     60         38  female
3      154     54         37  female
4      166     64         40    male
5      190     90         47    male
6      175     64         39    male
7      171     75         42  female
8      185     85         42  female
9      169     71         42    male

In [14]:
x=df.drop(['gender'],axis='columns')

In [15]:
x

   height   width  shoe size
0      181     80         44
1      177     70         43
2      160     60         38
3      154     54         37
4      166     64         40
5      190     90         47
6      175     64         39
7      171     75         42
8      185     85         42
9      169     71         42

In [16]:
df

   height   width  shoe size  gender
0      181     80         44    male
1      177     70         43  female
2      160     60         38  female
3      154     54         37  female
4      166     64         40    male
5      190     90         47    male
6      175     64         39    male
7      171     75         42  female
8      185     85         42  female
9      169     71         42    male

In [20]:
xx=df.iloc[:,:-1]

In [21]:
xx

   height   width  shoe size
0      181     80         44
1      177     70         43
2      160     60         38
3      154     54         37
4      166     64         40
5      190     90         47
6      175     64         39
7      171     75         42
8      185     85         42
9      169     71         42

In [22]:
y=df.iloc[:,3]

In [23]:
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

In [24]:
value=tree.DecisionTreeClassifier()

In [25]:
value.fit(x,y)

DecisionTreeClassifier()

In [34]:
value.predict([[181,80,44]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)